.App{
    background-color: #dadbd3;
    height: 100vh;
    /* to make all the child items center from vertically and horizontally  */
    display: grid;
    place-items: center;
}

.app__body{
   display: flex;
   background-color: #ededed;
   height: 90vh;
   width: 90vw;
   box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
   margin-top: -50px;
} 

  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .App{
        width: 70vh;
    }
   .app__body{
    width: auto;
   }
  
  }